    body{
        background-color: #FFF7EB;
    }
    .na {
    font-size: 15px;
    width:20px;
    text-align: center;
    text-decoration: none;
    }
    .na:hover {
        opacity: 0.7;
    }
    a{
        text-decoration: none;
    }
    .fa {
    font-size: 15px;
    color: #AEE2FF;
    width:20px;
    text-align: center;
    text-decoration: none;
    }

    .fa:hover {
        opacity: 0.7;
    }
